.painel *{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Responsividade */
@media only screen and (max-width: 100%) {
}

.painel {
   display: flex;
   justify-content:space-evenly;
   flex-wrap: wrap;
   gap: 15px;
   margin: 0 auto;
   padding: 20px 25px;
}

.painel-item {
   flex-basis: auto;
   width: 350px;
   background-color: #e8ddb3;
   padding: 10px;
   /*margin: 10px;*/
   border-radius: 10px;
   text-align: center;
}

/*.painel-item {
   flex-basis: 31%;
   padding: 0;
   background-color: #e8ddb3;
   
}*/

img {
   width: 50%;
}

.ingredientes {
   text-align: left;
   letter-spacing: 0.08em;
}

.preparo {
   text-align: left;
   letter-spacing: 0.08em;
}