body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav{
   background-color: #000;
}
.card-body{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
}

.card-footer{
    text-align: center;
    background-color: #000;
}
.card-text, .card-title{
    text-align: center;
}