@media only screen and (max-width: 90%) {};

html, body {
    width: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav {
   background-color: #000;
}
.main{
    height: 90vh;
    margin: 35px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.conteudo {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
  
.titulo-conteudo {
    text-align: center;
    font-size: 25px;
}

.descricao-conteudo {
    text-align: center;
    font-size: 25px;
}
 
/* Rodapé */
.card-footer {
    background-color: #000;
    height: 50px;

}