@charset "UTF-8"

body {
    width: 100%;
    height: 100%;
 }

 /* Estilos responsivos */
 @media only screen and (max-width: 100%) {
 }
 
 .nav {
   background-color: #050505;
   padding: 0;
   position: fixed;
   top: 0;
   width: 100%;
   height: 35px;
}

.nav-list {
   list-style-type: none;
   display: flex;
   margin: 0;
   padding: 0;
}

.nav-item {
   margin: 0;
}

.nav-item a {
   text-decoration: none;
   font-weight: bolder;
}

.nav-item a:hover {
   text-decoration: none;
   color: rgb(3, 104, 255);
   font-weight: normal;
}

.conteudo {
   /*position: absolute;
   margin-bottom: 50px;
    top: 30%;*/
    height: 100%;
    width: 99%;
    margin: 35px 5px;
    padding: 10% 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
  
.titulo-conteudo {
    text-align: center;
    font-size: 25px;
}

.descricao-conteudo {
    text-align: center;
    font-size: 25px;
}
 
/* Rodapé */
footer {
   padding-top: 15px;
   background-color: #050505;
   color: #fff;
   text-align: center;
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 50px;
}