@charset "UTF-8"

html, body {
      background-color: #f0947c;
      height: 95%;
      width: 100%;
}

* {
      font-family: 'Times New Roman', Times, serif;
}

 /* Responsividade */
@media only screen and (max-width: 100%) {

}
 
 /* Menu missoes (fora da missão)*/
.nav {
      background-color: #050505;
      padding: 0;
      position: fixed;
      top: 0;
      left: 10;
      width: 100%;
      height: 35px;
}

.nav-list {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;
}

.nav-item {
      margin: 10px;
      margin-top: 0;
}

.nav-item a {
      text-decoration: none;
      font-weight: bolder;
}

.nav-item a:hover {
      text-decoration: none;
      color: rgb(3, 104, 255);
      font-weight: normal;
}

 /* Menu das paginas*/
.menu {
      background-color: #050505;
      padding: 0;
      position: fixed;
      top: 35px;
      left: 10;
      width: 100%;
      height: 35px;
}

.menu-list {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;
}

.menu-item {
      margin: 10px;
}

.menu-item-ativo {
      margin: 10px;
}

.menu-item a {
      text-decoration: none;
      color: #d6d1d1;
      font-weight: bold;
}

.menu-item a:hover {
      text-decoration: underline;
      color: #636262;
      font-weight: normal;
}

.active {
      margin-bottom: 0;
      color: #d6d1d1;
      text-decoration: underline;
      font-weight: normal;
}

/* Conteudo da Home */
.conteudo {
      height: calc(100vh - 100px);
      width: 100%;
      display: flex;
      flex-direction: column;
      align-content: stretch;
      justify-content: center;
}
  
.titulo-imagem {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
}

.imagem-titulo {
      height: 50px;
      width: 50px;
}
  
.titulo-pagina {
      text-align: center;
      font-size: 50px;
}
  
.descricao-pagina {
      text-align: center;
      font-size: 30px;
      margin-top: 10px;
}
 
 /* Formulario do cadastro */
form {
      margin-top: 70px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-between;
}

.titulo-cadastro{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
}


.container{
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 auto;
}
 
.col-md-14{
      display: flex;
      padding-top: 0.4em;
      width: 100%;  
}

label {
      padding-right: 7em;
      width: 0%;
}
 
.col-md-6{
      display: flex;
      padding-top: 0.4em;
      width: 50%;
}

.btn {
      margin: 10px 0px;
      align-self: flex-end;
}
 
/* Rodapé das paginas */
footer {
      margin: 0;
      background-color: #050505;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 50px;
}

footer p {
      margin: 10px;
      color: #fff;
      text-align: center;
}