.painel *{
   align-items: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.painel {
   min-height: 100%;
   display: flex;
   justify-content: center;
   align-items: stretch;
   justify-items: center;
   gap: 10px;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   padding: 5px;
}

.painel-item {
   margin: 20px 20px;
   flex: 0 1 50%;
   background-color: #e8ddb3;
   padding: 20px 20px;
   border-radius: 10px;
   text-align: center;
}

img {
   flex: 1 1 40%;
   border: solid 1px #000;
   border-radius: 50px;
   box-shadow: 1px 3px 10px #0000007e;
}

.ingredientes {
   padding-top: 20px;
   text-align: left;
   letter-spacing: 0.08em;
}

.preparo {
   text-align: left;
   letter-spacing: 0.08em;
}
